body{
    background-color: rgb(32, 40, 65);
    
}

h1{
    color: white;
    text-align: center;
}

h2{
    color: rgb(255, 255, 255);
    text-align: center;
}
footer{
    color: rgb(255, 255, 255);
}

article{
    background-color: rgba(82, 79, 79, 0.74);
}
nav{
    color: rgb(24, 16, 16);
}

table{
    border: 1px darkgrey;
    width: 100%;
    background-color: darkgrey;
    border-radius: 10px;    
}