body{
    background-color: rgb(17, 16, 16);
    
}

h1{
    color: white;
    text-align: center;
}

h2{
    color: white;
    text-align: center;
}
footer{
    color: white;
}

article{
    background-color: rgb(112, 100, 100);
}
nav>ul>li{
    color: rgb(0, 0, 0);
}

table{
    border: 1px dotted crimson;
    width: 100%;
    background: rgb(185, 29, 1);
    border-radius: 10px ;
}