body{
    background-color: rgb(17, 16, 16);
    
}

h1{
    color: white;
    text-align: center;
}

h2{
    color: white;
    text-align: center;
}
footer{
    color: white;
}

article{
    background-color: rgb(112, 100, 100);
    padding-left: 1.5rem;
    padding-right: 1.5rem; 
    border-bottom: 1px solid;  color:#FFFFFF ; 
}
nav>ul>li{
    color: rgb(170, 23, 23);
    list-style: none;
}

nav>ul>li>a{
    text-decoration: none;
}

table{
    border: 1px dotted crimson;
    width: 100%;
    background: rgb(185, 29, 1);
    border-radius: 10px ;
}

.imagen{
    border: 1px solid white ;
    display:inline;
}

#footer_blog{
    border: 2px solid white;
}
section{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-auto-rows: auto
    gap 3rem; 
}
section>header{
    grid-column: span 12;
    font-size: 25px;
}

main{
    grid-column: span 8;
}

aside{
    grid-column: span 4;
    background-color: rgb(187, 173, 173);
    border: 2px solid black;
}

#footer_blog{
    border: 2px solid white;
    grid-column: span 12;
}